@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>to the Super Hotel web site!</h2>
    <p>Click on the top navbar to make bookings and search for rooms.</p>
</div>
